.products-container {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: rgba(252, 254, 189, 0.1);

  border-radius: 12px
}

.product-info {
  display: flex;
  align-items: center;
}


.product-image {
  width: 120px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 15px;
  margin-right: 10px;
}

.text-info {
  flex-grow: 1;
}

.value {
  color: #FCFEBD;
}

.value-container {
  display: flex;
  align-items: center;
}

.delete-btn {
  font-size: 1rem;
  width: 150px;

  border: 2px solid #f10c0c;
  border-radius: 20px;
  background-color: #f10c0c;
  padding: 10px 20px;
  /*color: #4d0303;*/
  color: wheat;

  margin-bottom: 15px;
  margin-top: 10px;
}

.delete-btn:hover {
  cursor: pointer;
  border: 2px solid #ff0000;
  background-color: #ff0000;
  color: white;
}

.change-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.value-container button {
  border: 1px solid #ddd;
  border-radius: 50%;

  font-size: 1.2rem;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

#decrease-btn:hover {
  background-color: #f10c0c;
  color: white;
}

#increase-btn:hover {
  background-color: #4ec94e;
  color: white;
}

.value, .value-container button {
  font-size: 1.2rem;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: #FCFEBD;
}

h2 {
  font-size: 1.3rem;
  color: #FCFEBD;
  margin-left: 15px;
}

#price {
  width: 92%;
  text-align: right;
  /*font-weight: bold;*/
  color: #11de11;
  margin: 10px auto 15px;
}

#continue-container {
  text-align: center;
}

.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#products {
  margin-top: 25px;
}

#continue, #products, #pay {
  font-size: 1rem;
  border: 2px solid #45c745;
  background-color: #45c745;

  color: #FCFEBD;
  border-radius: 20px;

  padding: 10px 20px;
  width: 250px;
  margin-bottom: 15px;
}

#continue {
  width: 270px!important;
}

#continue:hover, #products:hover, #pay:hover {
  cursor: pointer;
  background-color: #03f503;
  color: white;
}

@media (max-width: 500px) {
  form {
    width: 250px!important;
    margin-left: -10px;
  }

  #pay {
    width: 270px !important;
    margin-left: -2px;
  }



  h2, #price {
    font-size: 1rem;
  }

  .value, .value-container button, .delete-btn {
    font-size: 0.8rem;
  }

  .delete-btn {
    padding: 5px;
    width: 100%;
  }

  #continue {
    font-size: 1rem;
    padding: 5px;
    width: 150px;
  }

  #title {
    font-size: 1.5rem;
  }

}

#no-items {
  text-align: center;
  /*margin-top: 250px;*/
  font-size: 1.5rem;
  font-weight: bold;
  color: #FCFEBD;
}


.form-group {
  margin-bottom: 15px; /* Add some margin between each form group */
}

.email-container-label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
}

/* Optional: Style for the asterisk */
.asterisk {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

form {
  width: 350px;
  padding: 20px;
  margin-top: -100px;
}

label {
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}

input {
  height: 40px;
  width: 100%;


  /*border: none;*/
  border: 1px solid rgb(252, 254, 2, 0.5);
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(153, 136, 136, 0.5);
  padding-left: 15px;
  font-size: 16px;
  background-color: rgba(252, 254, 189, 0.9);
  color: black;
}

#pay {
  width: 370px;
  /*width: max-content;*/
  margin-top: 25px;
  font-size: 16px;

}

.form-class {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrare orizontală */
  align-items: center; /* Centrare verticală */
  height: 100vh;
}

.error {
  color: #e51313;
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}




@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border: 5px solid #4ec94e;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  flex: 0 0 auto;

}

.pay-row {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}


.loading-text {
  margin-top: 15px;

  font-weight: bold;
  font-size: 1.2rem;
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  color: #FCFEBD;
  /*color: #4ec94e;*/
}

.bck-container {
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;

  background: url(../../../assets/image/bckg-cart.webp);
  background-size: cover;
  left: 0;
}

.bck-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.4);
  /*background-color:rgba(200, 200, 200, 0.2);*/
}

@media (max-width: 750px) {
  .bck-container {
    overflow: auto;

    background: url(../../../assets/image/bckg.webp);
    background-size: cover;
  }

  .error {
    font-size: 1rem;
  }
}
