.loader {
  width: 400px; /* Dimensiune similară cu .product-card */
  height: 400px; /* Dimensiune similară cu .product-card */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 9px; /* Aceeași rază de colț ca la .product-card */
  box-shadow: 0px 0px 5px 0px rgba(225, 225, 225, 0.5); /* Aceeași umbră */
  background: white; /* Aceeași culoare de fundal ca și .product-card */
  position: relative;
}

.loader::after {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
  linear-gradient(#DDD 100px, transparent 0),
  linear-gradient(#DDD 16px, transparent 0),
  linear-gradient(#DDD 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent negru */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Asigură-te că este deasupra altor elemente */
}

.loading-message {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: max-content;
}

.products-loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.products-loader:before,
.products-loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.products-loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}

.products-loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

